<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MailHost" value="smtp.163.com"/> <!-- SMTP主机地址 -->
    <add key="MailUser" value="simonlixxx@168.com"/> 
    <add key="MailPassword" value="xxxxx"/>
    <add key="OmniMailDrop" value="simonli.xxxz@sync.omnigroup.com"/> <!-- OmniFocus MailDrop 地址 -->
    <add key="Separator" value="-" /> <!-- 标题和注释的分隔符 -->
  </appSettings>
</configuration>