<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MailHost" value="smtp.163.com"/> <!-- SMTP主机地址 -->
    <add key="MailUser" value="simonlixxx@168.com"/> 
    <add key="MailPassword" value="xxxxx"/> <!-- 密码或授权码 -->
    <add key="UseSSL" value="Y"/> <!-- Y:发送服务器需要SSL加密，比如QQ的；N：不需要 -->
    <add key="OmniMailDrop" value="simonli.xxxz@sync.omnigroup.com"/> <!-- OmniFocus MailDrop 地址 -->
    <add key="Separator" value="-" /> <!-- 标题和注释的分隔符 -->
  </appSettings>
</configuration>